$primary-midnightblue: #003865;
$primary-magenta: #e10098;
$primary-robinseggblue: #00c1d5;
$primary-mistgrey: #babbb1;

$secondary-electriclime: #d0df00;
$secondary-internatorange: #7AC943;
$secondary-weborange: #f2A900;
$secondary-daisybushpurple: #5f259f;
$secondary-abbeygrey: #4b4f54;

/***************************/
$icon-screen-green: rgb(146, 212, 146);

/*************************************/
$calBorderRad: 6px;
/********** STYLECODE VARS ********/
$gameClass: #9096f8;

/**********STYLECODE VARS**********/

:root {
    --primary-color: rgba(143, 143, 143, 0.3);
    --secondary-color: rgba(16, 104, 63, 0.5);
    --power: #27EFF0;
    --base-btn-color: #e9dfd7;
    --power-on: rgb(9, 209, 209);
    --power-on-glow: #3dddc2;
    --power-on-active: rgba(69, 238, 210, 0.5);
    
    --power-trim: #bbb;
    
}