.test {
fill: #8a99c2;
fill: rgba(255, 248, 183, 0.7);
fill: #ffb89e;
border-top: 1px solid #afafaf;
color: #ffe881;
fill: linear-gradient(0deg, #393b46 30%, #555968 120%);
background: linear-gradient(175deg, #92b1af 0%, #62817f 100%);
background: linear-gradient(175deg, #93bdba 0%, #5b7775 100%);


background: linear-gradient(175deg, #92b1af 0%, #769593 100%);

background: linear-gradient(175deg, #93bdba 0%, #738b8a 100%);

background: linear-gradient(175deg, #8ca1a0 0%, #60807d 100%);
fill: rgba(122, 122, 122, 0.5);
fill: #b17777;
fill: #926262;
mix-blend-mode: multiply;

}