@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');


/*  Chrome & FF ✅, Safari 👎🏼*/
@font-face {
    font-family: "Megrim";
    font-weight: normal;
    font-style: normal;
    src: url("Megrim-Regular.ttf") format('truetype');
    font-display: swap;
  }

.test {
fill: rgba(255, 0, 255, 0.5);
fill: #3dddc2; /*on*/
fill: rgba(69, 238, 210, 0.712); /*active*/

fill: rgba(255, 248, 183, 0.7);
fill:   #ede9e8;
fill:   #dacbc9; /*edge*/

border-top: 1px solid #afafaf;
color: #f0e0d2;
fill: linear-gradient(0deg, #393b46 30%, #555968 120%);
background: linear-gradient(175deg, #92b1af 0%, #62817f 100%);
background: linear-gradient(175deg, #93bdba 0%, #5b7775 100%);


background: linear-gradient(175deg, #92b1af 0%, #769593 100%);

background: linear-gradient(175deg, #93bdba 0%, #738b8a 100%);

background: linear-gradient(175deg, #8ca1a0 0%, #60807d 100%);
fill: rgba(122, 122, 122, 0.5);
fill: #b17777;

fill: #b1a67d; /* my brown? */

fill: #fff;
color: #362828;
color: #47E8B3;
text-shadow: 1px 1px 1px 0px #47E8B3;
mix-blend-mode: multiply;

}